<html ng-app="labView">
  <head>
    <title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    <script type="text/javascript">
      angular.module("labView",[]);
      angular.module("labView").controller("labViewController", function($scope, $http){
        $scope.labId = <%= id %>;
        $scope.logs;
        $scope.getLogs = function(){
          var url = 'http://localhost:3000/report/lab/'+$scope.labId;
          $http.get(url)
            .success(function(data){
              $scope.logs = data.responses;
            })
            .error(function(data){
              console.log("Erro!!!");
              console.log(data);
            });
        };

        $scope.show = 1;

        $scope.isEquals = function(a, b){
          return (a.x === b.x && a.y === b.y);
        };

        $scope.verifyChar = function(line, col, current, log){
          var curr = {
            "x":line,
            "y":col
          };

          if($scope.isEquals(curr, log.catPosition)){
            return "C";
          }

          if($scope.isEquals(curr, log.mousePosition)){
            return "M";
          }

          if(current === "0"){
            return "~"
          }

          return current;
        };

        $scope.hideAndShow = function(){

          var divs = document.querySelectorAll(".div-logs");
          for (var i = 0; i < divs.length; i++) {
            divs[i].style.display = 'none';
          }

          if( ($scope.show-1) < divs.length){
            divs[$scope.show - 1].style.display = 'block';

            $scope.show += 1;
          }

        };

        $scope.getLogs();
      });
    </script>
  </head>
  <body ng-controller="labViewController">

    <a ng-click="hideAndShow()"
       class="btn-floating btn-large waves-effect waves-light red right"
       style="position:absolute;top:10%;right:10%">
      <i class="material-icons">-></i>
    </a>

    <div ng-repeat="log in logs" id="div-log-{{log.rodada}}" class="div-logs">
      Rodada: {{log.rodada}}
      <div ng-repeat="linha in log.labyrinth track by $index" class="row" id="{{$index}}">
        <div ng-repeat="col in linha track by $index" class="col s1" id="{{$index}}">
          {{ verifyChar($parent.$index, $index, col, log); }}
        </div>
      </div>
      Status: {{log.status}}
    </div>

  </body>
  <script type="text/javascript">

  </script>
</html>
